# Core Django
Django>=5.2
django-environ
django-ninja
PyJWT
psycopg2-binary

# Async / WebSockets
daphne
channels
channels_redis

# Production Polish
django-cors-headers
whitenoise
gunicorn
uvicorn[standard]

# Firebase
firebase-admin
